* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*:focus {
  outline: none;
}
.wrapper {
  width: 95%;
  margin: auto;
}
.border-b-3 {
  border-bottom-width: 3px;
}

.circle__loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
