* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*:focus {
  outline: none;
}
#root {
  max-width: 1920px;
  margin: auto;
  overflow-x: auto;
}
.wrapper {
  width: 95%;
  margin: auto;
}
.border-b-3 {
  border-bottom-width: 3px;
}

.circle__loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 350px) {
  * {
    font-size: 11px;
  }
}
@media (min-width: 550px) {
  * {
    font-size: 13px;
  }
}

@media (min-width: 550px) {
  * {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  #about-me {
    height: calc(100vh - 88px);
  }
}
